<!-- templates/file_list.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
File info:
</h1>
<style>
	.ptr {
		cursor: pointer;
	}
</style>
<script type="text/javascript" language="javascript">
	var ch_disp = function( id )
		{
			var el = document.getElementById( id );
			el.style.display = ( el.style.display == 'block' )? 'none' : 'block';
		}
</script>
<body>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>File ID</th>
            <th>File name</th>
            <th>Count rows</th>
            <th>First download</th>
            <th>Last download</th>
        </tr>
    </thead>
    {% for item in file_list %}
    <tr>
        <td>
            {{item["fileid"]}}
        </td>
        <td>
            {{item["filename"]}}
        </td>
        <td>
            {{item["data_count"]}}
        </td>
        <td>
            {{item["first_download"]}}
        </td>
        <td>
            {{item["last_download"]}}
        </td>
    </tr>
    {% endfor %}
</table>
</body>
{% endblock %}