<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<body>
	<div class="column is-4 is-offset-4">
		<div class="box">
			<form enctype="multipart/form-data" method="POST" action='http://0.0.0.0:8087/profile/files/upload_file/to'>
				<div style="margin-bottom: 10px;">
					<input type="file" name="f">
				</div>
				<button class="button is-block is-info is-large is-fullwidth">Загрузить файлы</button>
			</form>
			{% if ans %}
            <div style="margin-bottom: 10px;">
            <a class="has-text-success">File sent</a>
            </div>
        	{% endif %}
			{% if err %}
            	<div style="margin-bottom: 10px;">
            	<a class="has-text-success">File not sent</a>
            	</div>
        	{% endif %}
		</div>
	</div>

</body>
{% endblock %}