<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>
<style>
	.ptr {
		cursor: pointer;
	}
</style> 
<script type="text/javascript" language="javascript">
	var ch_disp = function( id )
		{
			var el = document.getElementById( id );
			el.style.display = ( el.style.display == 'block' )? 'none' : 'block';
		}
</script>
<body>
	<div class="column is-4 is-offset-4">
		<div CLASS="ptr" ONCLICK="ch_disp('A1')" STYLE="margin-bottom: 5px; font-weight: bold">
			Work with files
		</div>
		<div ID="A1" STYLE="margin: 0 0 10px 10px; display:none">
			<div class="box">
				<div style="margin-bottom: 10px;">
					<form>
						<input class="button is-block is-info is-large is-fullwidth" value="Take file list" onClick='location.href="http://0.0.0.0:8087/profile/file_list"'>
					</form>
				</div>
				<div style="margin-bottom: 10px;">
					<form>
						<input class="button is-block is-info is-large is-fullwidth" value="Upload file" onClick='location.href="http://0.0.0.0:8087/profile/upload_file"'>
					</form>
				</div>
				<div style="margin-bottom: 10px;">
					<form method="GET" action='http://0.0.0.0:8087/to'>
						<a class="button is-block is-info is-large is-fullwidth">Refresh file</a>
					</form>
				</div>
				<form method="GET" action='http://0.0.0.0:8087/to'>
					<a class="button is-block is-info is-large is-fullwidth">Delete file</a>
				</form>
			</div>
		</div>
		<div class="ptr" onclick="ch_disp('A2')" style="margin-bottom: 5px; font-weight: bold">
			Work with ML models
		</div>
		<div id="A2" style="margin: 0 0 10px 10px; display:none">
			Просто добавь воды
		</div>
	</div>
</body>
{% endblock %}